#app {
  background-color: #333;
  color: #EEE;
}

.room-view {
  border: thick brown solid;
  width: 15%;
  padding-left: 3em;
}

.player-debug {
  border: thick green solid;
  width: 15%;
  padding: 1em;
}