#app {
  background-color: #333;
  color: #eee;
}

.room-view {
  border: thick brown solid;
  width: 18%;
  padding-left: 1em;
}

.menu-view {
  border: thick brown solid;
  height: 300px;
  width: 50%;
  padding-left: 1em;
  overflow-y: hidden;
}

.player-debug {
  border: thick green solid;
  width: 20%;
  padding: 0.5em 0 0.5em 0.5em;
}

.ui-row {
    display: flex;
    flex-direction: row;
}